/*===================== Video colegio ====================*/
video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.capa-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
 .bienvenida{
    position: relative;
    top: 60%;
    left: 5%;
  }
  
 .bienvenida h2{
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 500;
  }
  
  .bienvenida h2 span{
    font-size: 2.0em;
    font-weight: 600;
  }
  
  .animated-text{
    position: relative;
    height: 70px;
    overflow: hidden;
  }
  
  .animated-text h3{
    color: #F5B400;
    font-size: 3em;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
  }
  
  .animated-text h3:nth-child(1){
    animation: text-move 5s infinite ;
  }
  
  @keyframes text-move{
    0%{
      margin-top: 0;
    }
    25%{
      margin-top: -70px;
    }
    50%{
      margin-top: -140px;
    }
    75%{
      margin-top: -70px;
    }
    100%{
      margin-top: 0;
    }
  }
  
@media screen and (max-width: 900px){
    video{
        display: none;
    }
    .img-colegio{
        background-image: url(/img/IE\ 2.jpg);
        background-repeat : no-repeat;
        background-size : contain;
        height: 100vh;
    }
    .capa-video{
        display: none;
    }
}
/*================== Barra de Menu  ======================*/
header{
    z-index: 999;
    position: fixed;
    background: rgba(0,0,0,0.0);
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 80px;
    display: flex;
 
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;

  }
  header.sticky{
    background:#A80A0A;
    padding: 10px 80px;
  }

 .brand h3{
    float: left;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1px;
    margin-top: 2px;
    margin-left:0px;
  }
  .brand img{
    float: left;
    height: 50px;
    margin-left: -50px;
  }
  header .navigation{
    position: relative;
  }

  header .navigation a{
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
  }
  
  header .navigation a:hover{
    color: #3a6cf4;
  }
  
  header.sticky .navigation a:hover{
    color: #000;
  }
  @media (max-width: 1040px){
    header{
      padding: 12px 20px;
    }
  
    header.sticky{
      padding: 10px 20px;
    }
  
    header .navigation{
      display: none;
    }
  
    header .navigation.active{
      z-index: 888;
      position: fixed;
      background: #fff;
      top: 0;
      right: 0;
      width: 380px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
      transition: 0.3s ease;
    }
    header .navigation a{
      color: #000;
      font-size: 1.2em;
      margin: 10px;
      padding: 0 20px;
      border-radius: 20px;
    }
    header .navigation a:hover{
      background: #3a6cf4;
      color: #fff;
      transition: 0.3s ease;
    }
    .menu-btn{
      position: absolute;
      background: url(/icons/menu.png)no-repeat;
      background-size: 30px;
      background-position: center;
      width: 40px;
      height: 40px;
      right: 0;
      margin: 0 20px;
      cursor: pointer;
      transition: 0.3s ease;
    }
    .menu-btn.active{
      z-index: 999;
      background: url(/icons/close.png)no-repeat;
      background-size: 25px;
      background-position: center;
      transition: 0.3s ease;
      filter: invert(1);
    }
    .brand img{
        margin-left: 10px;
    }
    .brand h3{
        margin-left:5px;
      }
}
/*================== Sección QS-MVV ======================*/
.QS-MVV .content{
  display: flex;
  justify-content: center;
  top: 40px;
  left: 30px;
}
.title{
  top: 0;
  left: 0;
}
.title p{
  text-align: center;
  width: 85%;
  margin-left: 130px;
  padding: 80px;
  display: flex;
}
.QS-MVV .content .card{
  width: 340px;
  margin: 16px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}
.QS-MVV .content .card .QS-MVV-icon{
  text-align: center;
  transition: transform 0.5s ease;
}
.QS-MVV .content .card:hover .QS-MVV-icon{
  transform: translateY(-10px);
}
.QS-MVV .content .card .info{
  text-align: center;
}
.QS-MVV .content .card .info h3{
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
/*================= Sección Palabra de la Directora =================*/
.PD .content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  left:0%;
  top:20%;
}

.PD .content .col-left{
  position: relative;
  width: 45%;
}

.PD .content .col-right{
  position: relative;
  width: 41%;
  left: -80px;
}

.PD .content .col-left .img-card{
  position: relative;
  width: 100%;
  min-height: 450px;
  display: flex;
}

.PD .content .col-left .img-card img{
  position: absolute;
  top: 0;
  left: 28%;
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: flex;
}

.PD .content .col-right .content-title{
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 20px;
}

.PD .content .col-right .paragraph-text{
  font-size: 1em;
}
/*===================== Sección Profesores  ====================*/
/*===================== INICIAL  ========================*/
.wrapper{
  background-color:#A80A0A;
  align-items: center;
  justify-content: center;
  position: relative;
}
.testimonials{
  position: relative;
  top: 10%;
  left: 2%;
  background-color: #fff;
  max-width: 1300px;
  height: 600px;
  padding: 16px;
  overflow: hidden;
  border-radius: 4px;
}
.title{
  text-align: center;
  margin-top: 15px;
}
.title h2{
  font-weight: 300;
  color: var(--green);
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 32px;
}
.title h2 span{
  font-weight: 600;
}
.title h3{
  text-transform: uppercase;
  font-size: 16px;
  color: #b1b1b1;
  font-weight: 400;
  position: relative;
  margin: 24px 0;
  padding-bottom: 10px;
  letter-spacing: 2px;
  text-align: center;
}
.title h3::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: #b1b1b1;
  width: 80px;
}

.content{
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  top: -3%;
  margin-bottom: 16px;
}
.profesores-thumbnail img{
  width: 100%;
}
.profesores-thumbnail{
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
  float: left;
}
.profesores-tabs{
  margin-bottom: 24px;
  
}
.profesores-intro .profesores-name{
  color: var(--green);
}
.profesores-intro .profesores-designation{
  font-size: 12px;
  color: #b1b1b1;
}
.profesores-intro .profesores-description{
  display: none;
}
.profesores-item{
  align-items: center;
  margin: 12px 0;
  padding: 12px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.profesores-item:first-child{
  margin-top: 0;
}
.profesores-item:last-child{
  margin-bottom: 0;
}
.profesores-item:hover{
  background-color: var(--green);
}
.profesores-item:hover .profesores-intro *{
  color: #fff;
}
.profesores-item:active{
  transform: translateY(3px);
}
.profesores-item.active{
  background-color: var(--green);
}
.profesores-item.active .profesores-intro *{
  color: #fff;
}
.show-info{
  position: relative;
  margin-top: -25%;
  left: 30%;
}

.show-img img{
  border-radius: 2px;
}
.show-text > div{
  padding: 12px 0;
}
.show-text .show-name{
  font-size: 20px;
  color: var(--green);
}
.show-text{
  width: 50%;
}
.show-text .show-designation{
  color: #b1b1b1;
}
.show-text .show-description{
  margin: 20px 0;
  font-weight: 300;
  color: #686868;
  line-height: 1.4;
}
.show-text a{
  background-color: var(--green);
  color: #fff;
  text-decoration: none;
  padding: 10px 24px;
  display: inline-block;
  margin-top: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}
.show-text a:hover{
  background-color: #18a040;
}

@media(min-width: 768px){
  .testimonials{
      padding: 20px 40px;
  }
  .content{
      flex-direction: row;
  }
  .profesores-list{
      width: 30%;
  }
  .show-info{
      width: calc(70% - 30px);
      margin-left: 30px;
  }
  .profesores-tabs{
      margin-bottom: 0px;
  }
}

@media(min-width: 992px){
  .show-info{
      display: flex;
      align-items: flex-start;
  }
  .show-img{
      margin-right: 30px;
      height: 100%;
  }
  .show-img img{
      width: 280px;
      object-fit: cover;
      height: 100%;
  }
}
/*===================== PRIMARIA  ========================*/
.wrapper{
  background-color:#A80A0A;
  align-items: center;
  justify-content: center;
  position: relative;
}
.testimonials{
  position: relative;
  top: 10%;
  left: 2%;
  background-color: #fff;
  max-width: 1300px;
  height: 600px;
  padding: 16px;
  overflow: hidden;
  border-radius: 4px;

}
.title{
  text-align: center;
  margin-top: 15px;
}
.title h2{
  font-weight: 300;
  color: var(--green);
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 32px;
}
.title h2 span{
  font-weight: 600;
}
.title h3{
  text-transform: uppercase;
  font-size: 16px;
  color: #b1b1b1;
  font-weight: 400;
  position: relative;
  margin: 24px 0;
  padding-bottom: 10px;
  letter-spacing: 2px;
  text-align: center;
}
.title h3::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: #b1b1b1;
  width: 80px;
}

.content{
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  top: -3%;
  margin-bottom: 16px;
}
.profesores-thumbnail2 img{
  width: 100%;
}
.profesores-thumbnail2{
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
  float: left;
}
.profesores-tabs{
  margin-bottom: 24px;
  
}.profesores-intro .profesores-name2{
  color: #000;
}.profesores-intro .profesores-designation2{
  font-size: 12px;
  color: #000000;
}.profesores-intro .profesores-description2{
  display: none;
}.profesores-item2{
  align-items: center;
  margin: 12px 0;
  padding: 12px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}.profesores-item2:first-child{
  margin-top: 0;
}.profesores-item2:last-child{
  margin-bottom: 0;
}.profesores-item2:hover{
  background-color: var(--green);
}.profesores-item2:hover .profesores-intro *{
  color: rgb(0, 0, 0);
}.profesores-item2:active{
  transform: translateY(3px);
}.profesores-item2.active{
  background-color: var(--green);
}.profesores-item2.active .profesores-intro *{
  color: rgb(0, 0, 0);
}
.show-info2{
  position: relative;
  margin-top: -25%;
  left: 30%;
}

.show-img2 img{
  border-radius: 2px;
}
.show-text2 > div{
  padding: 12px 0;
}
.show-text2 .show-name2{
  font-size: 20px;
  color: var(--green);
}
.show-text2{
  width: 50%;
}
.show-text2 .show-designation2{
  color: #000000;
}
.show-text2 .show-description2{
  margin: 20px 0;
  font-weight: 300;
  color: #686868;
  line-height: 1.4;
}
.show-text2 a{
  background-color: var(--green);
  color: #fff;
  text-decoration: none;
  padding: 10px 24px;
  display: inline-block;
  margin-top: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}
.show-text2 a:hover{
  background-color: #18a040;
}

@media(min-width: 768px){
  .testimonials{
      padding: 20px 40px;
  }
  .content{
      flex-direction: row;
  }
  .profesores-list{
      width: 30%;
  }
  .show-info2{
      width: calc(70% - 30px);
      margin-left: 30px;
  }
  .profesores-tabs{
      margin-bottom: 0px;
  }
}

@media(min-width: 992px){
  .show-info2{
      display: flex;
      align-items: flex-start;
  }
  .show-img2{
      margin-right: 30px;
      height: 100%;
  }
  .show-img2 img{
      width: 280px;
      object-fit: cover;
      height: 100%;
  }
}
/*===================== SECUNDARIA  ========================*/
.wrapper{
  background-color:#A80A0A;
  align-items: center;
  justify-content: center;
  position: relative;
}
.testimonials{
  position: relative;
  top: 10%;
  left: 2%;
  background-color: #fff;
  max-width: 1300px;
  height: 600px;
  padding: 16px;
  overflow: hidden;
  border-radius: 4px;
}
.title{
  text-align: center;
  margin-top: 15px;
}
.title h2{
  font-weight: 300;
  color: var(--green);
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 32px;
}
.title h2 span{
  font-weight: 600;
}
.title h3{
  text-transform: uppercase;
  font-size: 16px;
  color: #b1b1b1;
  font-weight: 400;
  position: relative;
  margin: 24px 0;
  padding-bottom: 10px;
  letter-spacing: 2px;
  text-align: center;
}
.title h3::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: #b1b1b1;
  width: 80px;
}

.content{
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  top: -3%;
  margin-bottom: 16px;
}
.profesores-thumbnail3 img{
  width: 100%;
}
.profesores-thumbnail3{
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
  float: left;
}
.profesores-tabs{
  margin-bottom: 24px;
  
}.profesores-intro .profesores-name3{
  color: #000;
}
.profesores-intro .profesores-designation3{
  font-size: 12px;
  color: #000000;
}
.profesores-intro .profesores-description3{
  display: none;
}
.profesores-item3{
  align-items: center;
  margin: 12px 0;
  padding: 12px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.profesores-item3:first-child{
  margin-top: 0;
}
.profesores-item3:last-child{
  margin-bottom: 0;
}
.profesores-item3:hover{
  background-color: var(--green);
}
.profesores-item3:hover .profesores-intro *{
  color: rgb(0, 0, 0);
}
.profesores-item3:active{
  transform: translateY(3px);
}
.profesores-item3.active{
  background-color: var(--green);
}
.profesores-item3.active .profesores-intro *{
  color: rgb(0, 0, 0);
}
.show-info3{
  position: relative;
  margin-top: -25%;
  left: 30%;
}

.show-img3 img{
  border-radius: 2px;
}
.show-text3 > div{
  padding: 12px 0;
}
.show-text3 .show-name2{
  font-size: 20px;
  color: var(--green);
}
.show-text3{
  width: 50%;
}
.show-text3 .show-designation2{
  color: #000000;
}
.show-text3 .show-description2{
  margin: 20px 0;
  font-weight: 300;
  color: #686868;
  line-height: 1.4;
}
.show-text3 a{
  background-color: var(--green);
  color: #fff;
  text-decoration: none;
  padding: 10px 24px;
  display: inline-block;
  margin-top: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}
.show-text3 a:hover{
  background-color: #18a040;
}

@media(min-width: 768px){
  .testimonials{
      padding: 20px 40px;
  }
  .content{
      flex-direction: row;
  }
  .profesores-list{
      width: 30%;
  }
  .show-info3{
      width: calc(70% - 30px);
      margin-left: 30px;
  }
  .profesores-tabs{
      margin-bottom: 0px;
  }
}

@media(min-width: 992px){
  .show-info3{
      display: flex;
      align-items: flex-start;
  }
  .show-img3{
      margin-right: 30px;
      height: 100%;
  }
  .show-img3 img{
      width: 280px;
      object-fit: cover;
      height: 100%;
  }
}
/************************************** Noticia ***************************/
.not .re {
  font-size: small;
  text-align: center;
  position:relative;
  top:20px;
  font-size: 20px;
}

.not .er {
  text-align: center;
  position:relative;
  top:75px;
  font-size: 40px;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  top: 140px;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 4px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #A80A0A;
  border-radius: 25px 25px 0 25px;
  -webkit-border-radius: 25px 25px 0 25px;
  -moz-border-radius: 25px 25px 0 25px;
  -ms-border-radius: 25px 25px 0 25px;
  -o-border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #A80A0A;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
  -webkit-border-radius: 0 25px 0 0;
  -moz-border-radius: 0 25px 0 0;
  -ms-border-radius: 0 25px 0 0;
  -o-border-radius: 0 25px 0 0;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  left: -10%;
}
.card-image .card-img{
  height: 130%;
  width: 130%;
  margin-top: -15%;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
  margin-top: 10px;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #F5B400;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.button:hover{
  background: #f5b40080;
}

.swiper-navBtn{
  color: #A80A0A;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #A80A0A;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #A80A0A;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #A80A0A;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
/* ====================== galeria ======================= */
.gallery{
    width: 80%;
    margin:100px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
}

.gallery .img-card{overflow: hidden;}

.gallery .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}
.gallery .img-card img:hover{
    transform:scale(1.5) rotate(30deg);;
}

/** Modal **/
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding:30px;
    width: 100%;
    height: 100%;
    overflow:hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal .lists{
    width: 95%;
    margin:10px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 150px);
}
.modal .lists img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.modal #myModalImg{
    width: 35%;
    display: block;
    margin:auto;
    max-width: 700px;
}
.modal .caption-text{
    margin:auto;
    display: block;
    width: 80%;
    max-width:700px;
    text-align: center;
    color:#ccc;
    padding:10px 0px;
}
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color:#f1f1f1;
    font-weight:bold;
    transition:0.3s;
    font-size: 40px;
    cursor: pointer;
}

/** Animcacion zoom **/
@keyframes zoom {
    from{transform:scale(0);}
    to{transform:scale(1);}
}

/********************** Estructura Organizativa **************************  */
.EO{
  background: #F5B400;
  }
  
  .EO .boot{
    text-align: center;
  }
  .contendor_1{
    background: #A80A0A;
    width: 100%;
    height: 100%;
  
  
  }
  .contendor_2{
    background:#ce4a08;
    width: 100%;
    height: 100%;
  }
/*********************** Actividades escolares *************/
/* 2 */
.act .slider{
	position: relative;
	width: 100%;
	background: #2c3e50; /* darckblue */
}
.act .myslide{
	height: 100vh;
	display: none;
	overflow: hidden;
}

.act .prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.act .prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.act .next{
	right: 0;
}
.act .dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.act .dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: #00a7ff; /* blue */
}
/* /javascript */

/* muslide add fade */
.act .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.act .txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.act .txt h1{
	color: #00a7ff; /* blue */
	font-size: 50px;
	margin-bottom: 20px;
}
.act .txt p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
.act img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */



/* 5 */
@media screen and (max-width: 800px){
	.act .myslide{
		height: 500px;
	}
	.act .txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.act .txt h1{
		font-size: 40px;
	}
	.act .txt p{
		font-size: 13px;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.act .txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.act .sign{
		margin-right: 20px;
	}
	.act .sign a{
		font-size: 12px;
	}
}
/*===================== Matriculate =====================*/
.CI{
  position: relative;
  font-family:poppins;
  margin-left: 50px;
  list-style-type: decimal;
}
.CI li{

  padding: 3px;
  margin-left: 40px;
}
.resul{
  position: relative;
  top: 5%;
  margin-left: 50px;
  font-family: poppins;
}
.resul p{
  position: relative;
  top: 10px;
}
.barra{
  background: #F5B400;
  font-weight: 700;
  position: relative;
  text-align: center;
  padding: 20px;
  width:100%;
  height: 10%;
}
.row{
  position: relative;
  top: 10%;

}
.form-control{
  margin: 20px;
  width: 280px;
  height: 40px;
  border-radius: px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.matriculate-contenedor{
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;

  position: relative;
  top:-75%;
  left: 51%;
  width: 48%;
  height: 80%;
}
.mensaje{
  width: 93%;
  height: 20%;
}
.btn-secondary{
  position: relative;
  left: 2%;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}
.requisitos{
  position: relative;
  top: 5%;
  width: 50%;
  height: 80%;
}
/* ================ Ubicación y convenio ========== */
.UC .capa-uc{
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background: rgba(0, 0, 0, 0.37);
}
.UC .capa-uc h2{
  padding: 20px;
  color:#fff;
  font-weight: 800;
  text-align: center;
}
.UC iframe{
  width: 100%;
  height: 300px;
}
.UC .texto-uc h2{
  padding: 40px;
  text-align: center;
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.UC .slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.UC .slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.UC .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.UC .slider::before {
  left: 0;
  top: 0;
}
.UC .slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.UC .slider .slide {
  height: 100px;
  width: 250px;
}

/* ================ footer ========== */
/*:::::Pie de Pagina*/
.pie-pagina{
  width: 100%;
  background-color: #000000;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
}
.pie-pagina .grupo-1 .box figure img{
  width: 60px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #000000;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  background-color: #000000;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
} 


#container_formulario {
  width: 100%;
  height: 700px;
  background-color: #f8df89;
  text-align: center;
  z-index: 20;
}

.title_form {
  padding: 20px;
}

.form {
  margin: 0px 40px;
  align-items: center;
}

.form-control {
  margin-bottom: 10px;
} 

.btn-secondary {
  background-color: #D71C23;
}